
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
}

.app {
  scroll-behavior: smooth;
}

/* Header */
.header {
  background-color: rgba(0, 0, 0, 0.744);
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center; 
 
}

nav {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: flex-start; 
  gap: 20px; 
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(248, 245, 245);
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}


@media (max-width: 768px) {
  .header {
    padding: 10px 15px; 
  }

  ul {
    gap: 15px; 
  }

  a {
    font-size: 14px; 
    padding: 6px 12px;
  }

  .header nav ul {
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 480px) {
  
  .header {
    padding: 10px; 
  }

  ul {
    flex-wrap: wrap; 
    justify-content: flex-start;
    gap: 10px;
  }

  a {
    font-size: 12px; 
    padding: 5px 10px;
  }
}


